name: Build and Release Web Client

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            bin_name: Marp-Autosplitter-Client-Windows.exe
            archive_name: Marp-Autosplitter-Client-Windows.zip
            separator: ';'
            marp_pattern: '*win.zip'
            bin_path: 'bin/windows'
          - os: macos-latest
            bin_name: Marp-Autosplitter-Client-macOS
            archive_name: Marp-Autosplitter-Client-macOS.tar.gz
            separator: ':'
            marp_pattern: '*mac.tar.gz'
            bin_path: 'bin/macos'
          - os: ubuntu-latest
            bin_name: Marp-Autosplitter-Client-Linux
            archive_name: Marp-Autosplitter-Client-Linux.tar.gz
            separator: ':'
            marp_pattern: '*linux.tar.gz'
            bin_path: 'bin/linux'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller playwright gradio

      - name: Download and Extract Marp CLI
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          mkdir -p ${{ matrix.bin_path }}
          gh release download -R marp-team/marp-cli -p "${{ matrix.marp_pattern }}"
          DOWNLOADED_FILE=$(ls ${{ matrix.marp_pattern }} | head -n 1)
          if [[ "$DOWNLOADED_FILE" == *.tar.gz ]]; then
            tar -xzf "$DOWNLOADED_FILE" -C ${{ matrix.bin_path }}
          elif [[ "$DOWNLOADED_FILE" == *.zip ]]; then
            unzip -o "$DOWNLOADED_FILE" -d ${{ matrix.bin_path }}
          fi
          rm "$DOWNLOADED_FILE"


      - name: Build with PyInstaller
        run: |
          pyinstaller --onefile --name ${{ matrix.bin_name }} --add-data "bin${{ matrix.separator }}bin" --collect-all gradio --collect-all safehttpx --collect-all groovy --collect-all gradio_client web_app.py


      - name: Compress Executable
        shell: bash
        run: |
          cd dist
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            7z a ${{ matrix.archive_name }} ${{ matrix.bin_name }}
          else
            chmod +x ${{ matrix.bin_name }}
            tar -czvf ${{ matrix.archive_name }} ${{ matrix.bin_name }}
          fi
      
      - name: Upload Artifact to Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/${{ matrix.archive_name }}
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}